{% extends 'base.html.twig' %}

{% block title %}Picture Index{% endblock %}

{% block body %}
<section class="galery">
<div class="options">
   {% for picture in pictures %}
   <div class="option" style="--optionBackground:url({{ asset(picture.image) }}) ;">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
         </div>
         <div class="info">
            <div class="main">{{ picture.title }}</div>
            <div class="sub">{{ picture.subtitle }}</div>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
    <div class="bullet-navigation">
        {% for picture in pictures %}
        <span class="bullet" data-index="{{ loop.index }}"></span>
        {% endfor %}
    </div>
</section>


{% endblock %}
