{% extends 'base.html.twig' %}

{% block title %}Picture index{% endblock %}

{% block body %}
<section class="galery">
<div class="options">
   {% for picture in pictures %}
   <div class="option" style="--optionBackground:url({{ asset(picture.image) }});">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-walking"></i>
         </div>
         <div class="info">
            <div class="main">{{ picture.title }}</div>
            <div class="sub">{{ picture.subtitle }}</div>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
</section>
{% endblock %}
