{% extends 'adminbase.html.twig' %}

{% block title %}New Picture{% endblock %}

{% block body %}
    <div class="bg-zinc-200 w-3/4 my-10 mx-auto p-12">
    <h3 class="text-3xl font-bold font-title my-2 ">Ajouter une nouvelle oeuvre</h3>
     <p class="text-2xl font-subtitlefont italic">{{ exhibition.name }}</p>
    <hr class="h-px my-5 bg-stone-950 border-0 mt-1">
        {{ include('picture/_form.html.twig') }}
    <button class="text-white bg-accentcolor hover:bg-yellow-200 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center my-4"><a href="{{ path('exhibition_show_presentation', {'id': exhibition.id}) }}">Retour à la modification de l'exposition</a>
    </button>
</div>
</div>
{% endblock %}
      {% block javascripts %}
        {{ encore_entry_script_tags('formPicture') }}
      {% endblock %}

