{% extends 'base.html.twig' %}

{% block title %}IREP{% endblock %}

{% block body %} 

<div id="default-carousel" class="relative w-full bg-yellow-200 h-[40rem]" data-carousel="static">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden md:h-[40rem]">
             <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                 <img src="{{ asset('build/images/UsineBelAir.jpg') }}"class="absolute object-cover w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                 <div class="absolute top-1/2 -translate-y-1/2 ml-5 bg-red-200 w-24 md:w-80">
                    <h2 class="text-1xl font-bold md:text-5xl ">LE TAMPON</h2>
                    <h3 class="text-1xl font-bold md:text-2xl text-white">Journées Européennes du Patrimoine 2023</h3>
                  </div><!--
                  <div class="absolute inline h-28 bg-green-300">
                    <p class="m-4 w-5/6 bg-yellow-200">INFOS</p>
                    <p class="m-4 w-1/6 bg-yellow-600"><a:href>+</a:href></p>
                  </div>-->
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{{ asset('build/images/ChanvertGolo.jpg') }}" class="absolute object-cover w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                <div class="absolute top-1/2 -translate-y-1/2 ml-5 bg-red-200 w-24 md:w-80">
                    <h2 class="text-1xl font-bold md:text-5xl ">LE TAMPON</h2>
                    <h3 class="text-1xl font-bold md:text-2xl text-white">Journées Européennes du Patrimoine 2023</h3>
                </div>
            </div>
        </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
    </div>
</div>    
  
<div id="default-carousel" class="relative w-full my-20" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
         <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="{{ asset('build/images/paysage1.jpg') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="{{ asset('build/images/paysage2.jpg') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
     
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
     
    </div>
    
</div>

<div class="container h-full bg-yellow-200 mx-auto">

    <div class="pink-stripe">
        <h1 class="text-9xl p-10">
            Let's start coding&nbsp;&#129304;
        </h1>
    </div>
</div>  

{% endblock %}
