{% extends 'base.html.twig' %}

{% block title %}IREP{% endblock %}

{% block body %} 
    
    <div class="white-stripe">
        <img src="{{ asset('build/images/LOGO_WILD_CODE_SCHOOL.png') }}"
             alt="">
    </div>

    
{% endblock %}
