{% extends 'base.html.twig' %}

{% block title %}IREP{% endblock %}

{% block body %}

<section class="relative w-full h-[40rem]" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative overflow-hidden h-[40rem]">
        <!-- Items-->
        {% for presentation in presentations %} 
        <div class="hidden duration-700" data-carousel-item>
            <img src="{{ asset (presentation.image) }}"
                class="absolute block  w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="...">
            <div class="absolute flex flex-col content-around top-1/2 -translate-y-1/2 ml-16 w-60 md:w-6/12 bg-gray-500/[.05]">
                <h2 class="text-3xl p-2 font-bold md:text-4xl text-white font-titlefont" >{{ presentation.title }}</h2>
                <h3 class="text-2xl p-2 text-white font-subtitlefont">{{ presentation.subtitle }}</h3>
            </div>
            <div class="absolute flex justify-start top-3/4 -translate-y-1/2 ml-16 mt-2 md:w-80">
                <p class="p-3 text-white md:font-bold md:text-1xl md:p-4 bg-yellow-200">DECOUVRIR</p>
                <p class="p-3 text-white md:font-bold md:text-1xl md:p-4 bg-yellow-300"><a href="#">+</a></p>
            </div>
        </div>
        {% endfor %}     
    </div>

        <!-- Slider indicators -->
        
        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-10 left-1/2">
            {% for presentation in presentations %} 
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" 
                data-carousel-slide-to="0"></button>
            {% endfor %}  
        </div>

        <!-- Slider controls -->
        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</section>    

<div class="h-96"></div>



<div class="bg-zinc-200">
    <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-10 lg:px-6">
        <div class="mx-auto max-w-screen-md sm:text-center">
            <p class="mx-auto mb-4 max-w-2xl text-center text-gray-800 md:mb-8 sm:text-xl font-titlefont">Inscrivez-vous à notre newsletter pour recevoir les actualités de l'exposition de votre choix.</p>
                <div class="items-center w-full mx-auto mb-3 space-y-4 max-w-screen">
                      {{ include('home/newsletter_form.html.twig') }}    
                </div>        
        </div>       
    </div>
 </div>

    <div id="toast-success" class=" hidden fixed flex items-center bottom-10 right-10 z-50 max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow" role="alert">
       <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
           <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
           </svg>
        </div>
       <div class="ml-3 text-sm font-normal">Votre inscription a bien été enregistrée</div>
           <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
               <span class="sr-only">Close</span>
               <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
           </button>
     </div>

    </div>
        


<div class="h-48"></div>

</section>


{% endblock %}
