{{ form_start(form, {'attr': {'id': 'newsletter'}}) }}
    {{ form_widget(form) }}
    <button class="subscription text-black bg-accentcolor hover:bg-yellow-200 font-titlefont font-semibold rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center my-4">{{ button_label|default('S\'inscrire') }}</button>
{{ form_end(form) }}
