{# templates/twitter/callback.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <h1 class="text-white">Welcome, {{ username }}!</h1>
{% endblock %}
