{% extends 'base.html.twig' %}

{% block title %}Twitter API{% endblock %}

{% block body %}
<div class="bg-black text-white">
    <h1 class="text-3xl font-bold">Twitter API</h1>
    <a href="{{ path('twitter_tweet') }}" class="bg-black text-white py-2 px-4 rounded">Tweeter l'URL</a>

</div>
{% endblock %}
