{% extends 'base.html.twig' %}

{% block title %}Edit Newsletter{% endblock %}

{% block body %}
    <h1>Edit Newsletter</h1>

    {{ include('admin/newsletter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_newsletter_index') }}">back to list</a>

    {{ include('newsletter/_delete_form.html.twig') }}
{% endblock %}
