{% extends 'base.html.twig' %}

{% block title %}Page Admin{% endblock %}

{% block body %}
<div class="text-white">
    <h1 class="text-3xl font-bold mb-4">Page Admin</h1>
</div>
            <div class="mb-3">
                Vous êtes connecter en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-blue-500 hover:text-blue-800">Logout</a>
            </div>
{% endblock %}