{% extends 'base.html.twig' %}

{% block title %}Page Admin{% endblock %}

{% block body %}
<div class="flex justify-center items-center mt-10">
<div class="text-white">
    <h1 class="text-3xl font-bold mb-4">Page Admin</h1>
</div>
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-accentcolor hover:text-gray-300">Logout</a>
            </div>
            </div>
{% endblock %}