{% extends 'base.html.twig' %}

{% block title %}Page Admin{% endblock %}

{% block body %}
<div class="text-white">
    <h1 class="text-3xl font-bold mb-4">Page Admin</h1>
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th class="px-4 py-2">Titre</th>
                <th class="px-4 py-2">Sous-titre</th>
                <th class="px-4 py-2">Image</th>
            </tr>
        </thead>
        <tbody>
            {% for exhibition in exhibitions %}
                <tr>
                    <td class="border px-4 py-2">{{ exhibition.title }}</td>
                    <td class="border px-4 py-2">{{ exhibition.subtitle }}</td>
                    <td class="border px-4 py-2">
                        <img class="w-16 h-16 object-cover" src="{{ asset(exhibition.image) }}" alt="{{ exhibition.title }}">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
