{% extends 'base.html.twig' %}

{% block title %}Présentation Exposition{% endblock %}

{% block body %}
<div class="flex justify-center items-center bg-backgroundcolor text-white mt-10">
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th class="px-4 py-2">Titre</th>
                <th class="px-4 py-2">Sous-titre</th>
                <th class="px-4 py-2">Image</th>
            </tr>
        </thead>
        <tbody>
            {% for presentationExhibition in presentationExhibitions %}
            <tr class="bg-gray-700">
                <td class="border px-4 py-2">{{ presentationExhibition.title }}</td>
                <td class="border px-4 py-2">{{ presentationExhibition.subtitle }}</td>
                <td class="flex justify-center items-center border px-4 py-2">
                    <img class="w-24 h-auto" src="{{ asset(presentationExhibition.image) }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
