{% extends 'base.html.twig' %}

{% block title %}Statistique{% endblock %}

{% block body %}
<div class="flex justify-center items-center mt-10">
    <div class="text-white">
        <h1 class="text-3xl font-bold mb-4">Statistique</h1>

        <div class="mb-3">
            <p>Total visite page d'acceuil: <span class="font-semibold">{{ pageVisitsCount }}</span></p>
        </div>
                <table class="table-auto w-full">
            <thead>
                <tr>
                    <th class="px-4 py-2">Image</th>
                    <th class="px-4 py-2">Nombre de vues</th>
                </tr>
            </thead>
            <tbody>
               {% for pictureData in pictures %}
    <tr>
        <td class="border px-4 py-2">{{ pictureData.picture.title }}</td>
        <td class="border px-4 py-2">{{ pictureData.count }}</td>
    </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
