{% extends 'base.html.twig' %}

{% block title %}Admin Statistics{% endblock %}

{% block body %}
<div class="flex justify-center items-center mt-10">
    <div class="text-white">
        <h1 class="text-3xl font-bold mb-4">Admin Statistics</h1>

        <div class="mb-3">
            <p>Total page visits: <span class="font-semibold">{{ pageVisitsCount }}</span></p>
            <p>Total link clicks: <span class="font-semibold">{{ linkClicksCount }}</span></p>
        </div>
    </div>
</div>
{% endblock %}
