{% extends 'adminbase.html.twig' %}

{% block title %}Modification Exposition{% endblock %}

{% block body %}
<div class="my-4 mx-auto p-2 md:p-12">
    <h3 class="text-3xl font-bold font-title my-6 ">Modification de l'exposition</h3>
    <hr class="h-px my-5 bg-stone-950 border-0">


    {{ include('admin/exhibition/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('admin/exhibition/_delete_form.html.twig') }}
<div class="flex justify-end">
    <button
        class="text-white bg-accentcolor hover:bg-yellow-200 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center"><a
            <a href="{{ path('app_exhibition_index') }}">Retour aux expositions</a>
    </button></div>
</div>
{% endblock %}