@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");


// Font Var
$titleFont: "Montserrat";
$subtitleFont: "Lora";
$contentFont: "Hind Madurai";


// Color Var
$backgroundColor: rgb(255, 255, 255);
$optionDefaultColours: white;
$primaryColor : #EAD07F;

body {
   background-color: $backgroundColor;
}

h1{
  display: block;
  font-size: 2em !important;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


.custom-navbar {
    border-bottom-color: $primaryColor; 
    
  
}

.custom-bg-color-burger-menu{
    background-color: $primaryColor; 
  
}

// Galery CSS
.galery {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   height: 100vh;
   font-family: $subtitleFont, sans-serif;
   transition: 0.25s;
   background: $backgroundColor;
   color: white;


   .options {
       display: flex;
       flex-direction: row;
       align-items: stretch;
       overflow: hidden;
       min-width: 600px;
       max-width: 1000px;
       width: calc(100% - 100px);
       height: 420px;
       justify-content: center;

       @media (min-width: 768px) and (max-width: 1023px) {
           .option {
               display: none;
           }
           .option:nth-child(-n + 6) {
               display: flex;
           }
       }


       .option {
           position: relative;
           overflow: hidden;
           min-width: 60px;
           max-width:60px;
           margin: 10px;
           background: var(
               --optionBackground,
               var(--defaultBackground, #e6e9ed)
           );
           background-size: auto 120%;
           background-position: center;
           cursor: pointer;
           transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);


           @for $i from 1 through length($optionDefaultColours) {
               &:nth-child(#{$i}) {
                   --defaultBackground: #{nth($optionDefaultColours, $i)};
               }
           }


           &.active {
               flex-grow: 10000;
               transform: scale(1);
               max-width: 600px;
               margin: 0px;
               border-radius: 40px;
               background-size: auto 100%;

               @media (max-width: 767px) {
                margin : 0px 100px 0px 100px;
                        
                    }

               .shadow {
                   box-shadow: inset 0 -120px 120px -120px black,
                       inset 0 -120px 120px -100px black;
               }


               .label {
                   bottom: 20px;
                   left: 20px;
                   .info > div {
                       left: 0px;
                       opacity: 1;
                   }
               }
           }


           &:not(.active) {
               flex-grow: 1;
               border-radius: 30px;


               .shadow {
                   bottom: -40px;
                   box-shadow: inset 0 -120px 0px -120px black,
                       inset 0 -120px 0px -100px black;
               }


               .label {
                   bottom: 10px;
                   left: 10px;
                   .info > div {
                       left: 20px;
                       opacity: 0;
                   }
               }
           }


           .shadow {
               position: absolute;
               bottom: 0px;
               left: 0px;
               right: 0px;
               height: 120px;
               transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
           }


           .label {
               display: flex;
               position: absolute;
               right: 0px;
               height: 40px;
               transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);


               .icon {
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   align-items: center;
                   min-width: 40px;
                   max-width: 40px;
                   height: 40px;
                   border-radius: 100%;
                   background-color: white;
                   color: var(--defaultBackground);

                   svg {
                    width: 70%;
                    height: 70%;
                    color:black;
                  }
               }

               .info {
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   margin-left: 10px;
                   color: white;
                   white-space: pre;


                   > div {
                       position: relative;
                       transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95),
                           opacity 0.5s ease-out;
                   }


                   .main {
                       font-weight: bold;
                       font-size: 1.2rem;
                   }


                   .sub {
                       transition-delay: 0.1s;
                   }
               }
           }
       }
   }
}

.option:not(.active) .icon {
    opacity: 0;
}

.option.active .icon {
    opacity: 1;
}

.bullet-navigation {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}


.bullet {
   width: 11px;
   height: 11px;
   margin: 0 5px;
   background-color: #ccc;
   border-radius: 50%;
   cursor: pointer;
   transition: background-color 0.3s;
}


.bullet.active {
   background-color: #333;
}

.picture-details {
    display: flex;
  }
  
  .picture-image {
    flex-basis: 50%; /* Occupe 50% de la largeur */
    padding: 20px; /* Espacement à droite de l'image */
    display: flex;
  align-items: center; 
  justify-content: center;
  }
  
  .picture-info {
    flex-basis: 50%; /* Occupe 50% de la largeur */
    display: flex;
  flex-direction: column;
  justify-content: center; /* Centre le contenu verticalement */
  padding: 2rem;

  }

  .picture-image img {
    display: block;
  margin: 0 auto; /* Centre l'image horizontalement */
  max-height: 35rem; /* Remplacez la valeur par la hauteur souhaitée */
  width: auto; 
  height: auto;
  box-shadow: 0px 0px 1px 10px #F2F0F0;
    border-radius: 7px;
  }
  .custom-button-picture{
    background-color: $primaryColor;
    width: 14%;
    border-radius: 10px;
    padding: 5px;
  }

  .container-button-picture{
    text-align: center;
    padding: 10px;
  }
  hr {
    height: auto;
    width: 2px;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    margin: 5% auto;
  }
  

  @media only screen and (max-width: 768px) {
    .picture-image img {
      width: auto;
      
    }
  
  }







  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }