@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");


// Font Var
$titleFont: "Montserrat";
$subtitleFont: "Lora";
$contentFont: "Hind Madurai";

// Color Var
$backgroundColor: #060606;
$optionDefaultColours: white;
$accentColor : #EAD07F;

span, p, .custom-button-picture {
  font-family: $contentFont;
}

/* -----------------------------Show image by Id -----------------------------*/
.picture-details {
    display: flex;
  }
  
  .picture-image {
    flex-basis: 50%; /* Occupe 50% de la largeur */
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  .picture-info {
    flex-basis: 50%; /* Occupe 50% de la largeur */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre le contenu verticalement */
  }

  .picture-image img {
    display: block;
    box-shadow: 0px 0px 1px 10px #F2F0F0;
    border-radius: 7px;
  }
  .custom-button-picture{
    background-color: $accentColor; 
  }

  hr {
    color: $accentColor;
    border: 1px solid $accentColor;
    margin: 5% auto;
  }
  

 
  
  /* Add Animation Modal*/
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  /*-----------------------------------------*/

  
  
